#Password for user testing
PASSWORD_SALT = 
#For Authorization
JWT_SECRET = 
SALT=
#For Database (Supabase)
DATABASE_URL = 
#For Imagekit Media Storage
IMAGEKIT_URL = 
IMAGEKIT_PUBLIC_KEY = 
IMAGEKIT_PRIVATE_KEY = 
#For Nodemailer (OTP)
USER_EMAIL=
USER_APP=
#For Midtrans
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=